<!--关注话题|全部话题-->
<script type="text/template" id="list">
    <li class="topicli clearfix" style="display: list-item;" data-source_type="4" data-source_id="{{id}}">
        <!-- 作者头像 开始 -->
        <div class="topic-host-thumb pull-left">
            <a target="_blank" href="/Friends/passport/{{id}}" ><img title="{{user_name}}" src="{{user_image}}"></a>
        </div>
        <!-- 作者头像 结束 -->
        <!-- 话题内容 开始 -->
        <div class="topic-right">
            <p class="topic-info">
                <a target="_blank" href="/Friends/passport/{{id}}">{{user_name}}
                </a>
                <span class="topic-time">{{input_date}}</span>
            </p>
            <pre class="topic-des"><a target="_blank" href="/Friends/topic/{{id}}">{{content}}</a></pre>

            <p class="topic-img-wrap yoxview">
                {{each topic_images}}
                <a href="{{$value.image}}">
                    <img title="点击放大" alt="" src="{{$value.image}}">
                </a>
                {{/each}}
            </p>
            <div class="topic-bottom text-right">
                <p class="topic-source pull-left">
                    发表在<a target="_blank" href="/Friends/tag/{{game_id}}">{{game_name}}</a>
                </p>

                <a class="comment-btn" href="javascript:void(0);" data-id="{{id}}">
                    <i class="icon20 icon20-comment"></i>评论<span class="comment-count text-error">{{comment_count}}</span>
                </a>
                <a data-url="/topic/comment-like" class="doPraise" href="javascript:;" data-value="{{id}}" data-type="4">
                    <i class="icon20 icon20-praise "></i>赞<span class="laud_count text-error">{{laud_count}}</span>
                </a>
            </div>
            <!-- 评论框 开始 -->
            <div class="comment-pop clearfix hide">
                <div class="comment-form">
                    <form method="post" action="/topic/comment-add" id="GameTopicComment">
                        <input type="hidden" value="{{id}}" name="source_id" id="source_id">
                        <input type="hidden" value="passport_86004" name="userId">
                        <input type="text" validate-title="评论内容" name="content" class="comment-txt" id="content">
                        <button class="btn btn-warning pull-right" type="submit">评论</button>
                    </form>
                </div>
                <div class="comment-list">

                </div>
                <div style="display:none;margin:10px -10px -10px -10px;" data-selector="commentMore">
                    <a target="_blank" style="border-radius: 0 0 5px 5px;-webkit-border-radius: 0 0 5px 5px;-moz-border-radius: 0 0 5px 5px;" class="btn btn-block btn-warning" href="/topic/10836">查看全部评论</a>
                </div>
            </div>
            <!-- 评论框 结束 -->
        </div>
        <!-- 话题内容 结束 -->
    </li>
</script>

<!-- 回复话题模板 -->
<script type="text/template" id="tpl_topic_comment">
    <dl class="clearfix" style="display: block;"  data-source_type="4" data-source_id="<{$_GET['id']}>">
        <dt>
            <!--<a target="_blank" href="/friend/passport_79472/timeline"></a>-->
            <img title="{{nick_name}}" src="{{image}}">
        </dt>
        <dd>
            <div class="user-header">
                <table>
                    <tbody>
                    <tr>
                        <th><a target="_blank" href="/Friends/passport/{{user_id}}">{{nick_name}}</a><span title="{{input_date}}">{{input_date}}</span></th>
                        <td>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            {{if replyUserName}}
            <p class="comment-content">回复
                <!--<a class="text-warning" target="_blank" href="/friend/passport_90941/timeline"></a>-->
                @{{replyUserName}}：</p>
            {{/if}}
            <p class="comment-content"></p>
            <pre class="comment-content">{{content}}</pre>
            <div class="reply-panel">
                <p class="text-right">
                    {{if nowuser}}
                    <a class="deleteComment" data-replyid="{{id}}" href="javascript:;">删除</a>
                    {{/if}}
                    <a id="replyLink" class="comment-btn" href="javascript:;">回复</a>
                </p>
                <div class="reply-form comment-pop">
                    <i class="icon-up"></i>
                    <em class="icon-down"></em>
                    <form method="post" action="/activity/index/CommentReply"  id="CommentReplyForm">
                        <input type="hidden" value="{{id}}" name="replay_to">
                        <input type="text" placeholder="回复 {{nick_name}}" name="content">
                        <button class="btn btn-warning" type="submit">回复</button>
                    </form>
                </div>
            </div>
        </dd>
    </dl>
</script>
<!--热门话题-->
<script id="hot_list" type="text/html">
    {{if topic_image}}
    <li class="topicli clearfix" style="display: list-item;" data-source_type="4" data-source_id="{{id}}">
        <div class="social-topic-thumb pull-left">
            <a target="_blank" href="/Friends/topic/{{id}}">
                <img src="{{topic_image}}">
            </a>
        </div>

        <div class="social-topic-content">
            <dl>
                <dt>
                    <a target="_blank" href="/Friends/topic/{{id}}">{{content}}</a>
                </dt>
                <dd>
                    <a target="_blank" href="/Friends/topic/{{id}}">{{content}}</a>
                </dd>
            </dl>
            <div class="social-topic-feature">
                <div class="social-topic-author">
                    <a target="_blank" href="/Friend/passport/{{user_id}}">
                        <img title="{{nick_name}}" src="{{user_image}}">
                    </a>
                    <h6>
                        <a target="_blank" href="/Friends/passport/{{user_id}}">
                            {{nick_name}}
                        </a>
                    </h6>

                    <p>
                        发表在<a target="_blank" href="/Friends/tag/{{game_id}}" title="{{game_name}}">{{game_name}}</a>
                    </p>
                </div>
                <div class="topic-bottom pull-right">
                    <a class="comment-btn" href="javascript:void(0);">
                        <i class="icon20 icon20-comment"></i>评论<span class="comment-count text-error">{{comment_count}}</span>
                    </a>
                    <a href="javascript:;" class="doPraise"><i class="icon20 icon20-praise "></i>赞<span class="laud_count text-error">{{laud_count}}</span></a>
                </div>
            </div>
        </div>
        <!-- 评论框 开始 -->
        <div class="comment-pop clearfix" style="display: none;">
            <div class="comment-form">
                <form method="post" action="/topic/publishTopicComment" >
                    <input type="text" name="content" class="comment-txt">
                    <button class="btn btn-warning pull-right" type="submit">评论</button>
                </form>
            </div>
            <div class="comment-list"></div>
            <div style="display:none;margin:10px -10px -10px -10px;" class="commentMore">
                <a target="_blank" style="border-radius: 0 0 5px 5px;-webkit-border-radius: 0 0 5px 5px;-moz-border-radius: 0 0 5px 5px;" class="btn btn-block btn-warning" href="/topic/10873">查看全部评论</a>
            </div>
        </div>
        <!-- 评论框 结束 -->
    </li>
    {{else}}
    <li class="topicli clearfix" style="display: list-item;" data-source_type="4" data-source_id="{{id}}">

        <div class="social-topic-content">
            <dl>
                <dt>
                    <a href="/Friends/topic/{{id}}" target="_blank">{{content}}</a>
                </dt>
                <dd>
                    <a href="/Friends/topic/{{id}}" target="_blank">{{content}}</a>
                </dd>
            </dl>
            <div class="social-topic-feature">
                <div class="social-topic-author">
                    <a href="/Friends/passport/{{user_id}}" target="_blank">
                        <img src="{{user_image}}" title="{{nick_name}}">
                    </a>
                    <h6>
                        <a href="/Friends/passport/{{user_id}}" target="_blank">
                            {{nick_name}}
                        </a>
                    </h6>

                    <p>
                        发表在<a title="{{game_name}}" href="/Friends/tag/{{game_id}}" target="_blank">{{game_name}}</a>
                    </p>
                </div>
                <div class="topic-bottom pull-right">
                    <a href="javascript:void(0);" class="comment-btn">
                        <i class="icon20 icon20-comment"></i>评论<span class="comment-count text-error">{{comment_count}}</span>
                    </a>
                    <a href="javascript:;" class="doPraise">
                        <i class="icon20 icon20-praise "></i><span id="doPraise">赞</span><span class="laud_count text-error">{{laud_count}}</span></a>
                </div>
            </div>
        </div>
        <!-- 评论框 开始 -->
        <div class="comment-pop clearfix" style="display: none;">
            <div class="comment-form">
                <form action="/topic/publishTopicComment" method="post">
                    <input class="comment-txt" type="text" name="content">
                    <button type="submit" class="btn btn-warning pull-right">评论</button>
                </form>
            </div>
            <div class="comment-list"></div>
            <div data-selector="commentMore" style="display:none;margin:10px -10px -10px -10px;">
                <a href="/Friends/topic/{{id}}" class="btn btn-block btn-warning" style="border-radius: 0 0 5px 5px;-webkit-border-radius: 0 0 5px 5px;-moz-border-radius: 0 0 5px 5px;" target="_blank">查看全部评论</a>
            </div>
        </div>
        <!-- 评论框 结束 -->
    </li>
    {{/if}}
</script>


<!--推荐赛友-->
<script id="tpl_friend" type="text/html">
    <li style="display: list-item;">
        <div class="friends-thumb">
		
            <a target="_blank" href="/Friends/passport/{{id}}">
                {{if image}}
                <img title="{{nick_name}}" src="{{image}}">
                {{/if}}
                {{if image==NULL}}
                <img title="{{nick_name}}" src="/public/images/default/web_pic.jpg">
                {{/if}}
            </a>

        </div>
        <p class="friends-nickname">
            {{if gender=='M'}}
            <i title="男" class="icon16 icon16-boy"></i>
            {{/if}}
            {{if gender=='F'}}
            <i title="女" class="icon16 icon16-girl"></i>
            {{/if}}
            {{nick_name}}
        </p>
        <p>
            {{if add == '1'}}
            <button data-fid="passport_90514" data-selector="add-follow" class="btn">已添加</button>
            {{/if}}
            {{if add =='0'}}
            <button data-fid="passport_90514" data-selector="add-follow" class="btn btn-warning add_friend"   data-value="{{id}}">加赛友</button>
            {{/if}}
        </p>
    </li>
</script>

<!--新加入赛友-->
<script id="tpl_new_friend" type="text/html">
    <li style="display: list-item;">
        <div class="friends-thumb">
            <a target="_blank" href="/Friends/passport/{{id}}">
                {{if image}}
                <img title="{{nick_name}}" src="{{image}}">
                {{/if}}
                {{if image==NULL}}
                <img title="{{nick_name}}" src="/public/images/default/web_pic.jpg">
                {{/if}}
            </a>
        </div>
        <p class="friends-nickname">
            {{if gender=='M'}}
            <i title="男" class="icon16 icon16-boy"></i>
            {{/if}}
            {{if gender=='F'}}
            <i title="女" class="icon16 icon16-girl"></i>
            {{/if}}
            {{nick_name}}
        </p>
        <p>
            {{if add == '1'}}
            <button data-fid="passport_90514" data-selector="add-follow" class="btn">已添加</button>
            {{/if}}
            {{if add =='0'}}
            <button data-fid="passport_90514" data-selector="add-follow" class="btn btn-warning add_friend" data-value="{{id}}">加赛友</button>
            {{/if}}
        </p>
    </li>
</script>